<h1><%= @cocktail.name%> Recipe</h1>

<%= link_to "Home", cocktails_path %>
 
<%= simple_form_for [ @cocktail, @recipe_amount ] do |f| %>
    <%= f.input :amount%>
    <%= f.input :description%>
    <%= f.association :ingredient %>
    <div class="btn btn-primary"> <%= f.button :submit %> </div>
  <% end %>